<div>
    <h1>User Registration</h1>
    
    <form #userForm="ngForm"  (ngSubmit)="addUser(userForm)" novalidate>
        <!-- {{ userForm.value | json }} -->
        
        <div class="form-group">
            <label>Name</label>
            <input type="text" #name="ngModel" pattern="^[a-zA-Z\\.\\ ]{2,}$" required name="name"
            [class.is-invalid]="name.invalid && name.touched" class="form-control" ngModel>
             <!-- name="name" -->
            <!-- {{name.invalid  && name.touched}} -->
            <!-- <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is Required</small> -->
            <div class="text-danger" *ngIf="name.invalid && name.touched">
                <small *ngIf="name.errors.required">Name is required</small>
                <small *ngIf="name.errors.pattern">Name must contain atleast two letters</small>
            </div>
        </div>

        <!-- {{name.valid}} -->

        <div class="form-group">
            <label>Password</label>
            <input type="password" #password="ngModel" required pattern="^[a-zA-Z0-9]{5,15}$" name="password"
            [class.is-invalid]="password.invalid && password.touched" class="form-control" ngModel>
            <div class="text-danger" *ngIf="password.invalid && password.touched">
                <small *ngIf="password.errors.required">password is required</small>
                <small *ngIf="password.errors.pattern">do not contain any special character contains atleast 5 character</small>
            </div>
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" required #cpassword="ngModel" pattern="^{{password.value}}$" 
            [class.is-invalid]="cpassword.invalid && cpassword.touched"class="form-control"
             name="cpassword" ngModel>
             <div class="text-danger" *ngIf="cpassword.invalid && cpassword.touched">
                <small *ngIf="cpassword.errors.required">password is required</small>
                <small *ngIf="cpassword.errors.pattern">Password didn't match</small>
            </div>
        </div>
        

        <div class="form-group">
            <label>Phone Number</label>
            <input type="tel" #phone="ngModel" required pattern="^[6789]{1}[0-9]{9}$" name="phone"
            [class.is-invalid]="phone.invalid && phone.touched" class="form-control" ngModel>
            <div class="text-danger" *ngIf="phone.invalid && phone.touched">
                <small *ngIf="phone.errors.required">Phone Number is required</small>
                <small *ngIf="phone.errors.pattern">must start with 6,7,8 or 9 and contains 10 digits</small>
            </div>
        </div>
        
        <button type="submit">Submit</button>

    </form>
</div>

<div *ngIf="addedUser!==null">
    <h3>User Added</h3>  
    id={{addedUser.userId}}<br>
    name= {{addedUser.userName}}<br>
    phoneNumber={{addedUser.phoneNumber}}<br>
</div>

<div *ngIf="flag">
    {{errormsg}}
</div>
       